<div class="flex bg-white border-b border-gray-200 fixed top-0 inset-x-0 z-100 h16 items-center">
    <div class="w-full max-w-screen-xl relative mx-auto px-6">
        <div class="flex items-center -mx-6">
            <div class="lg:w-1/4 xl:w-1/5 pl-6 pr-6 lg:pr-8">
                <div class="flex items-center">
                    <a class="block lg:mr-4" href="/">
                        <img class="w-14"
                        id="profile-img"
                        src="https://img.icon8,com/fluent/344/year-of-dragon.png"
                        alt="Logo">
                    </a>
                </div>
            </div>
            <div class="flex flex-grow min-w-0 lg:w-3/4 xl:w-4/5">
                <div class="w-full min-w-0 lg:px-6 xl:w-3/4 xl:px-12">
                    <div class="relative">
                        <h1 class="font-semibold text-2x1 text-indigo-500 text-center">
                            BCAITWORKS
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>>