<div class="flex justify-center pt-16">
    <div class="w-1/2 mt-7">
        <div class="flex flex-col justify-center items-center w-full">
            <form (ngSubmit)="addTask()" autocomplete="off" class="w-full" [formGroup]="addForm">
                <div class="items-center">
                    <div class="w-full mb-2">
                        <label class="block text-gray-500 font-bold text-black" for="title">
                            What task do you want to add?
                        </label>
                    </div>
                    <div class="w-full">
                        <input class="bg-gray-100 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-indigo-500"
                            id="title" type="text" placeholder="Do Something..." [formControlName]="'title'" required/>
                            <span *ngIf="addForm.get('title')?.invalid && addForm.get('title')?.touched" class="text-red-600 text-sm">Sorry Task can't be empty</span>
                    </div> 
                </div>
                <div class ="flex justify-between w-full mt-10">
                    <button class="w-32 rounded-md bg-indigo-400 hover:bg-indigo-300 p-2 text-md focus:outline-none text-white font-semibold mb-3"
                    type="button" [routerLink]="['/']">
                        Cancel
                    </button>
                    <button class="w-32 rounded-md bg-indigo-400 hover:bg-indigo-300 p-2 text-md focus:outline-none text-white font-semibold mb-3"
                    type="submit" >
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>